bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/Microsoft.AspNetCore.SpaServices.Extensions.dll
bin/Debug/net5.0/package-lock.json
bin/Debug/net5.0/package.json
bin/Debug/net5.0/SPA.WebApp.deps.json
bin/Debug/net5.0/SPA.WebApp.dll
bin/Debug/net5.0/SPA.WebApp.pdb
bin/Debug/net5.0/SPA.WebApp.runtimeconfig.dev.json
bin/Debug/net5.0/SPA.WebApp.runtimeconfig.json
bin/Debug/net5.0/SPA.WebApp.Views.dll
bin/Debug/net5.0/SPA.WebApp.Views.pdb
bin/Debug/net5.0/ref/SPA.WebApp.dll
obj/project.assets.json
obj/project.nuget.cache
obj/SPA.WebApp.csproj.nuget.dgspec.json
obj/SPA.WebApp.csproj.nuget.g.props
obj/SPA.WebApp.csproj.nuget.g.targets
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/SPA.WebApp.AssemblyInfo.cs
obj/Debug/net5.0/SPA.WebApp.AssemblyInfoInputs.cache
obj/Debug/net5.0/SPA.WebApp.assets.cache
obj/Debug/net5.0/SPA.WebApp.csproj.AssemblyReference.cache
obj/Debug/net5.0/SPA.WebApp.csproj.CopyComplete
obj/Debug/net5.0/SPA.WebApp.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/SPA.WebApp.csproj.FileListAbsolute.txt
obj/Debug/net5.0/SPA.WebApp.csprojAssemblyReference.cache
obj/Debug/net5.0/SPA.WebApp.dll
obj/Debug/net5.0/SPA.WebApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/SPA.WebApp.genruntimeconfig.cache
obj/Debug/net5.0/SPA.WebApp.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/SPA.WebApp.pdb
obj/Debug/net5.0/SPA.WebApp.RazorAssemblyInfo.cache
obj/Debug/net5.0/SPA.WebApp.RazorAssemblyInfo.cs
obj/Debug/net5.0/SPA.WebApp.RazorCoreGenerate.cache
obj/Debug/net5.0/SPA.WebApp.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/SPA.WebApp.RazorTargetAssemblyInfo.cs
obj/Debug/net5.0/SPA.WebApp.TagHelpers.input.cache
obj/Debug/net5.0/SPA.WebApp.TagHelpers.output.cache
obj/Debug/net5.0/SPA.WebApp.Views.dll
obj/Debug/net5.0/SPA.WebApp.Views.pdb
obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
obj/Debug/net5.0/ref/SPA.WebApp.dll
obj/Debug/net5.0/staticwebassets/SPA.WebApp.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/SPA.WebApp.StaticWebAssets.xml
